<% n=0 %>
<p>Note: Name (days assigned/ days desired)</p>
<% ids = @schedule.map{|d| d.night_shift.values.map{|e| e.id}}.flatten %>
<div class="list-group">
	<% @schedule.each do |day| %>
		<div class="list-group-item list-group-item-info">
		<div class="row">
			<div class="day col-xs-4"><%=day.day%> <br> all day:</div> 
				<% day.morning_shift.each do |role,sad| %>
				<div class= "col-xs-4">
					<button class="btn btn-success employee e-<%= sad.id%>" data-desired=<%=sad.minimum_days_required %> data-name=<%=sad.first_name %> data-day=<%= day.int %> data-id=<%= sad.id %>>
						<%=sad.first_name%> (<%= ids.count(sad.id).to_s + "/" + sad.minimum_days_required.to_s %>)
					</button>
				</div>
				<% end %>

		</div>
		</div>
		<div class="list-group-item">
		<div class="container">
			<% (day.night_shift.values-day.morning_shift.values).each do |sad| %>
			<div class="name-btn">
				<button class="btn btn-success btn-block employee e-<%= sad.id%>" data-desired=<%=sad.minimum_days_required %> data-name=<%=sad.first_name %> data-day=<%= day.int %> data-id=<%= sad.id %>><%=sad.first_name%> (<%= ids.count(sad.id).to_s + "/" + sad.minimum_days_required.to_s %>)</button>
			</div>
			<% end %>
			<% day.night_avail.each do |happy| %>
			<div class="name-btn">
				<button class="btn btn-off btn-block employee e-<%= happy.id%>" data-desired=<%=happy.minimum_days_required %> data-name=<%=happy.first_name %> data-day=<%= day.int %> data-id=<%= happy.id %>><%=happy.first_name%> (<%= ids.count(happy.id).to_s + "/" + happy.minimum_days_required.to_s %>)</button>
			</div>
			<% end %>
		</div>
		</div>
	<% end %>
</div>
<script type="text/javascript">
	var assigned = <%= ids %>
	console.log(assigned)

	function update_button(id){
		var buttons = $('.e-'+id)
		var count = 0
		for(var i=0; i<assigned.length; i++){
			if(assigned[i] === id){
				count+=1
			}
		}

		for(var i=0; i<buttons.length; i++){
			var ele = $(buttons[i])
			var content = ele.data().name + " (" + count + "/" + ele.data().desired + ")"
			ele.html(content)
		}
	}


	var buttons = $(".employee")
	buttons.click(function(){
		var id = $(this).data().id
		var index = assigned.indexOf(id)
		if($(this).hasClass("btn-success")){
			assigned.splice(index,1)
			update_button(id)
		}else{
			assigned.push(id)
			update_button(id)
		}
		$(this).toggleClass("btn-success")
		$(this).toggleClass("btn-off")
	})
</script>



 